<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>   
</head>
<body>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- <link rel="stylesheet" type="text/css" href="asserts/style.css">  -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<div  class="container ms-0 container-wrapper wrapper-max-width">
    <div class="container-fluid container-fluid-wrapper" >
  
      <div id="header">
       <div class="row ps-4">
        <div class="col-8">NAVA ROHI TECHNICAL SERVICES</div>
        <div class="col-1"></div>
        <div class="col-3 mt-1">
          <div class="row font-size-15px">
            E-mail:SomeThing@Navarohi.com
          </div>
          <div class="row font-size-15px">
            Phone :+91 9923200900
          </div>
          <div class="row font-size-15px">
            Follow us 
          </div>
        </div>
      </div>
       <div class="row  ps-3 font-size-15px"> The beginning is always NOW.</div>
  </div>
  <div></div><br/>
     <nav class="navbar navbar-expand-lg navbar-custom nav-tabs" role="navigation">
     
        <ul class="navbar-nav ul-nav" style="background-color:#282466;width:100%">
          <li class="nav-item nav-li">
            <a class="nav-link text-white"  routerLink='/home'>Home</a>
          </li>
          <li class="nav-item nav-li" >
            <a class="nav-link text-white" routerLink='/about'>About Us</a>
          </li>
          <li class="nav-item dropdown nav-li">
            <a class="nav-link  mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:#ffffff;" href="{% url 'about' %}">Services
  
            </a>
  <ul class="dropdown-menu ul-dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li ><a class="dropdown-item text-white" href="#">Firm Certification</a></li>
              <li><a class="dropdown-item text-white" href="#">Technical Services</a></li>
              <li><a class="dropdown-item text-white" href="#">Consultancy</a>
              </li>
              <li><a class="dropdown-item text-white" href="#">Manpower supply</a>
              </li>
              <li><a class="dropdown-item text-white" href="#">Third Party Inspections</a>
              </li>
              <li><a class="dropdown-item text-white" href="#">Expiditing Services</a>
              </li>
  
            </ul>
          </li>
          
          <li class="nav-item nav-li">
            <a class="nav-link text-white"  href="#">Careers</a>
          </li>
          
          <li class="nav-item nav-li">
            <a class="nav-link text-white text-white"  href="#">Contact</a>
          </li>
  
         
        </ul>

    </nav>
    
  </div>
  
  </div>
</body>