<div  id="wrap-contactus">
	<h1 class="page-title">Coutact Us</h1>
</div>

<div  class="row entry clearfix" style="text-align:center; border-bottom:1px dotted">
<div class="float-left">
    <strong>Office Address</strong>
<div class="row"></div>
H NO 1-89/3/1A, Vasantha Arcade, 1st Floor, 
<div class="row"></div>
KPHB,Kukatapally Hyderabad-90<div class="row"></div>
Phone No: &nbsp; &nbsp;  040-000000
<div class="row"></div>

E-Mail:   info@NAVAROHI.com
</div>

      
</div>

<div class="map row"> 
        <div style="text-align:center;border-bottom: 2px dotted black">         
         <strong>   HR Team: </strong><div class="row"></div>
           <strong> Email: hr@NavaRohi.com</strong><div class="row"></div>
            <strong>  Office number: +9140-0000000</strong><div class="row"></div>
                <strong> Office mobile no: +91-000000000</strong>
        </div>
</div>
<div class="row map"> 
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3805.2875603695957!2d78.3995146140525!3d17.493781204334326!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb91f30076cb0f%3A0xd71e8dba19e3b3ae!2sKPHB%20METRO!5e0!3m2!1sen!2sin!4v1657970248937!5m2!1sen!2sin" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>

