<div class="wrap1-aboutus"  id="wrap1">
	<h1 class="page-title">About Us</h1>
</div>

<div id="wrap" class="clearfix">
		
    <section id="content" class="primary" role="main">
<div id="post-7" class="post-7 page type-page status-publish hentry">
    <h1 class="page-title">About Us</h1>
    <div class="entry clearfix">
        <p>NAVA ROHI is a provider of services in various segments such as Firm Certification, Technical Services, Third Party Inspections, Man Power Supply etc.</p>
<p><strong>Our major services include:</strong></p>
<ul>
<li>Firm Certification</li>
<li>Technical Services</li>
<li>Consultancy</li>
<li>Manpower supply</li>
<li>Third Party Inspections</li>
<li>Expiditing Services</li>
</ul>
    </div>    
</div>	
</section>
